# Regresja

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.model_selection import cross_val_predict
from sklearn import datasets, linear_model
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline
from sklearn import model_selection
from sklearn import  metrics
from statsmodels.formula.api import ols

Rozważmy zbiór Boston

In [4]:
from sklearn.datasets import fetch_california_housing
boston = fetch_california_housing()
# print description
print(boston.DESCR)

.. _california_housing_dataset:

California Housing dataset
--------------------------

**Data Set Characteristics:**

    :Number of Instances: 20640

    :Number of Attributes: 8 numeric, predictive attributes and the target

    :Attribute Information:
        - MedInc        median income in block group
        - HouseAge      median house age in block group
        - AveRooms      average number of rooms per household
        - AveBedrms     average number of bedrooms per household
        - Population    block group population
        - AveOccup      average number of household members
        - Latitude      block group latitude
        - Longitude     block group longitude

    :Missing Attribute Values: None

This dataset was obtained from the StatLib repository.
https://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html

The target variable is the median house value for California districts,
expressed in hundreds of thousands of dollars ($100,000).

This dataset was derived from the 1990 U.S. census, using one row per census
block group. A block group is the smallest geographical unit for which the U.S.
Census Bureau publishes sample data (a block group typically has a population
of 600 to 3,000 people).

An household is a group of people residing within a home. Since the average
number of rooms and bedrooms in this dataset are provided per household, these
columns may take surpinsingly large values for block groups with few households
and many empty houses, such as vacation resorts.

It can be downloaded/loaded using the
:func:`sklearn.datasets.fetch_california_housing` function.

.. topic:: References

    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,
      Statistics and Probability Letters, 33 (1997) 291-297

In [5]:
print(boston.keys())
print(boston.data.shape)
print(boston.feature_names)

dict_keys(['data', 'target', 'frame', 'target_names', 'feature_names', 'DESCR'])
(20640, 8)
['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup', 'Latitude', 'Longitude']

In [6]:
bos=pd.DataFrame(boston.data)
bos.head()

        0     1         2         3       4         5      6       7
0  8.3252  41.0  6.984127  1.023810   322.0  2.555556  37.88 -122.23
1  8.3014  21.0  6.238137  0.971880  2401.0  2.109842  37.86 -122.22
2  7.2574  52.0  8.288136  1.073446   496.0  2.802260  37.85 -122.24
3  5.6431  52.0  5.817352  1.073059   558.0  2.547945  37.85 -122.25
4  3.8462  52.0  6.281853  1.081081   565.0  2.181467  37.85 -122.25

In [7]:
bos.columns = boston.feature_names
bos.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [8]:
print(boston.target[0:5])
bos['PRICE']=boston.target
bos.head()

[4.526 3.585 3.521 3.413 3.422]

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,PRICE
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [11]:
model = ols("PRICE ~ HouseAge + AveBedrms + I(Population)**2", bos).fit()
# Print the summary
print((model.summary2()))

                  Results: Ordinary least squares
===================================================================
Model:              OLS              Adj. R-squared:     0.013
Dependent Variable: PRICE            AIC:                64228.9940
Date:               2021-11-14 15:01 BIC:                64260.7340
No. Observations:   20640            Log-Likelihood:     -32110.
Df Model:           3                F-statistic:        88.19
Df Residuals:       20636            Prob (F-statistic): 1.07e-56
R-squared:          0.013            Scale:              1.3150
--------------------------------------------------------------------
                 Coef.   Std.Err.     t     P>|t|    [0.025   0.975]
--------------------------------------------------------------------
Intercept        1.8937    0.0335  56.6105  0.0000   1.8282   1.9593
HouseAge         0.0095    0.0007  14.2415  0.0000   0.0082   0.0108
AveBedrms       -0.0935    0.0170  -5.5113  0.0000  -0.1268  -0.0603
I(Population)    0.0000    0.0000   0.4843  0.6282  -0.0000   0.0000
-------------------------------------------------------------------
Omnibus:              2303.826      Durbin-Watson:         0.328
Prob(Omnibus):        0.000         Jarque-Bera (JB):      3152.235
Skew:                 0.945         Prob(JB):              0.000
Kurtosis:             3.305         Condition No.:         8088
===================================================================
* The condition number is large (8e+03). This might indicate
strong multicollinearity or other numerical problems.

In [12]:
metrics.r2_score(bos.PRICE, model.predict(bos))

0.01265790660591104

# Zadanie 

Wykonaj regresję za pomocą metody <tt>statsmodels.formula.api.ols</tt> i wybierz cztery współrzędne, które najlepiej opisują zmienną "PRICE".