# Regresja

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.model_selection import cross_val_predict
from sklearn import datasets, linear_model
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline
from sklearn import model_selection
from sklearn import  metrics
from statsmodels.formula.api import ols

Rozważmy zbiór Boston

In [6]:
from sklearn.datasets import fetch_california_housing
boston = fetch_california_housing()
# print description
# print(boston.DESCR)

In [7]:
print(boston.keys())
print(boston.data.shape)
print(boston.feature_names)

dict_keys(['data', 'target', 'frame', 'target_names', 'feature_names', 'DESCR'])
(20640, 8)
['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup', 'Latitude', 'Longitude']

In [8]:
# get the data
boston_X = boston.data
boston_Y = boston.target

# Split the data into training/testing sets
boston_X_train = boston_X[:-50]
boston_X_test = boston_X[-50:]
 
# Split the targets into training/testing sets
boston_y_train = boston_Y[:-50]
boston_y_test = boston_Y[-50:]

In [9]:
bos=pd.DataFrame(boston.data[:-50])
bos.columns = boston.feature_names
bos['PRICE']=boston.target[:-50]
bos.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,PRICE
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [10]:
bos1=pd.DataFrame(boston_X[-50:])
bos1.columns = boston.feature_names
bos1['PRICE']=boston.target[-50:]
bos1.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,PRICE
0,1.6840,41.0,4.226629,0.991501,804.0,2.277620,39.14,-121.59,0.713
1,1.4946,34.0,4.340694,1.186120,702.0,2.214511,39.15,-121.58,0.555
2,0.8928,52.0,4.442953,1.073826,520.0,3.489933,39.14,-121.58,0.550
3,3.3611,36.0,5.911765,0.965686,537.0,2.632353,39.16,-121.58,0.798
4,3.7250,21.0,6.219269,1.003322,870.0,2.890365,39.16,-121.57,0.847

In [12]:
model = ols("PRICE ~ HouseAge + AveBedrms + I(Population)**2", bos).fit()
# Print the summary
print((model.summary2()))

                  Results: Ordinary least squares
===================================================================
Model:              OLS              Adj. R-squared:     0.012
Dependent Variable: PRICE            AIC:                64058.3907
Date:               2021-11-14 15:03 BIC:                64090.1209
No. Observations:   20590            Log-Likelihood:     -32025.
Df Model:           3                F-statistic:        87.49
Df Residuals:       20586            Prob (F-statistic): 3.01e-56
R-squared:          0.013            Scale:              1.3140
--------------------------------------------------------------------
                 Coef.   Std.Err.     t     P>|t|    [0.025   0.975]
--------------------------------------------------------------------
Intercept        1.9008    0.0335  56.7858  0.0000   1.8352   1.9664
HouseAge         0.0094    0.0007  14.1285  0.0000   0.0081   0.0107
AveBedrms       -0.0939    0.0170  -5.5379  0.0000  -0.1272  -0.0607
I(Population)    0.0000    0.0000   0.3414  0.7328  -0.0000   0.0000
-------------------------------------------------------------------
Omnibus:              2293.727      Durbin-Watson:         0.329
Prob(Omnibus):        0.000         Jarque-Bera (JB):      3136.724
Skew:                 0.944         Prob(JB):              0.000
Kurtosis:             3.302         Condition No.:         8088
===================================================================
* The condition number is large (8e+03). This might indicate
strong multicollinearity or other numerical problems.

In [13]:
from sklearn import  metrics
metrics.r2_score(bos.PRICE, model.predict(bos))

0.012588968193379735

In [14]:
from sklearn import  metrics
metrics.r2_score(bos1.PRICE, model.predict(bos1))

-32.09940456380877